---
const { items } = Astro.props;
---

<div class="row row-cols-1 row-cols-md-3 g-4 mx-1 mx-auto">
  {
    items.map((item) => (
      <div class="col">
        <div class="card">
          <img
            src={`https://via.placeholder.com/300x200?text=${encodeURIComponent(item.name)}`}
            class="card-img-top"
            alt={item.name}
          />
          <div class="card-body">
            <h5 class="card-title">{item.name}</h5>
            <p class="card-text">Model ID: {item.id}</p>
          </div>
        </div>
      </div>
    ))
  }
</div>
