---
import Countertops from "../data/Countertops.json"; // adjust path if needed
---

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 mx-1">
  {
    Countertops.map((countertop) => (
      <div class="col">
        <div class="card h-100">
          <img
            src={countertop.image}
            class="card-img-top fixed-card-img"
            alt={countertop.name}
          />
          <div class="card-body">
            <h5 class="card-title">{countertop.name}</h5>
            <p class="card-text">Counter ID: {countertop.id}</p>
          </div>
        </div>
      </div>
    ))
  }
</div>

<style>
  .fixed-card-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  .card-title {
    font-weight: bold !important;
  }
</style>
