---

---

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-3 mx-2">
    <!-- Kitchen Cabinets -->
    <div class="col">
        <a href="/Kitchencabients"></a>
        <div class="card h-100">
            <a href="/kitchencabinets">
                <img
                    src="/MilzenKC/M25.jpg"
                    class="card-img-top fixed-card-img"
                    alt="White Shake Kitchen Cabinets"
                    transition:name="kitchen-A"
                    transition:animate="fade"
                />
            </a>
            <div class="card-body">
                <h5 class="card-title">Kitchen Cabinets</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                </p>
            </div>
        </div>
    </div>

    <!-- Kitchen Couertops -->
    <div class="col">
        <div class="card h-100">
            <a href="/countertop">
                <img
                    src="/Countertops/CT-707.png"
                    class="card-img-top fixed-card-img"
                    alt="Quartz Kitchen Countertop"
                />
            </a>
            <div class="card-body">
                <h5 class="card-title">Kitchen Countertops</h5>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>

    <!-- Vanities -->
    <div class="col">
        <div class="card h-100">
            <img
                src="/Vanities/Vanity.jpg"
                class="card-img-top fixed-card-img"
                alt="Bathroom Vanity"
            />
            <div class="card-body">
                <h5 class="card-title">Bathroom Vanity</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img
                src="/Floor/FloorCard.jpg"
                class="card-img-top fixed-card-img"
                alt="SPC Flooring"
            />
            <div class="card-body">
                <h5 class="card-title">Flooring</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img
                src="/SWalls/SW3019.jpg"
                class="card-img-top fixed-card-img"
                alt="Shower Walls"
            />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .fixed-card-img {
        height: 275px;
        object-fit: cover;
    }
    .card-title {
        font-weight: bold !important;
    }
</style>
