---
import Layout from "../layouts/Layout.astro";
---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img
                    src="/store/GELogo.png"
                    height="45"
                    alt="Granite Expo Pittsburg Logo"
                    loading="lazy"
                />
            </a>

            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kitchencabinets"
                        >Kitchen Cabinets</a
                    >
                </li>
                <li class="nav-item dropdown position-relative">
                    <div class="nav-link-wrapper">
                      <a class="nav-link" href="/countertop">Countertops</a>
                      <ul class="dropdown-menu show-on-hover">
                        <li><a class="dropdown-item" href="/countertop/quartz">Quartz</a></li>
                        <li><a class="dropdown-item" href="/countertop/granite">Granite</a></li>
                      </ul>
                    </div>
                  </li>              
            </ul>            
        </div>

        

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>           

            <!-- Avatar dropdown -->
            <div class="dropdown">
                <a
                    class="dropdown-toggle d-flex align-items-center hidden-arrow"
                    href="#"
                    id="navbarDropdownMenuAvatar"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                        class="rounded-circle"
                        height="25"
                        alt="Avatar"
                        loading="lazy"
                    />
                </a>
                <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li><a class="dropdown-item" href="#">My profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Keep this only if you're using Font Awesome. Otherwise remove it. -->
<script src="https://kit.fontawesome.com/YOUR_KIT_ID.js" crossorigin="anonymous"
></script>

<!-- Bootstrap 5 already included in your Layout.astro -->

<style>
    .nav-link {
        font-size: 25px;
        position: relative;
        display: inline-block;
        color: black;
        text-decoration: none;
        cursor: pointer;
        padding-bottom: 4px;
    }

    .nav-link:hover {
        font-weight: bold;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0%;
        background-color: black;
        transition: width 0.4s ease;
    }

    .nav-link:hover::after {
        width: 100%;
    }
    .nav-item.dropdown {
  position: relative;
}

.nav-link-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  min-width: 150px;
  padding-top: 5px; /* slight buffer to help hover stay */
  border: none;
  transition: opacity 0.2s ease;
}

.nav-item.dropdown:hover .dropdown-menu,
.nav-link-wrapper:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

</style>
